@{
    ViewData["Title"] = "Home Page";
}

<picture>
    <img  src="../racas-de-cachorros.webp" class="img-fluid rounded mx-auto d-block"  alt="cachorros">
</picture>
<section class="meio">
    <h1 class="title">PetVet</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eum illum adipisci dolore velit sapiente! Deleniti temporibus 
        ad corrupti a error consequuntur! Corporis modi, amet minima libero illum commodi fugiat? Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Delectus unde ex iste, harum sequi consequuntur deleniti consequatur quibusdam accusantium architecto deserunt ipsa 
        quaerat debitis neque quia. Ipsam ipsa ratione dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit harum debitis 
        eius, blanditiis, quas eum voluptatibus ab assumenda magni delectus cupiditate doloribus doloremque aut tempora accusantium aliquam 
        quasi amet iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quam debitis fugiat eum ad commodi tempore deleniti 
        quaerat, unde odio recusandae voluptatibus odit. Quas itaque doloribus excepturi ullam ducimus Lorem ipsum dolor sit amet consectetur 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero commodi, omnis ipsam consectetur id labore unde eos adipisci veritatis vel 
        sit earum reiciendis sint nulla perferendis, maxime cum, accusantium nesciunt! Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Consectetur vel, asperiores ipsum, explicabo commodi laborum hic provident modi autem, maxime velit nobis iure ut culpa ullam alias 
        facilis quasi ab. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vitae, asperiores aliquam blanditiis minus maiores. 
        Illum modi eius alias nobis beatae id quo iste, esse non, a dolore quas officia. </p>
</section>