@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="secao">
    <h3 class="works">Serviços</h3>
    <ul>
        <li>Veterinaria</li>
        <ul>
            <li>Consultas</li>
            <li>Valor: R$ 30,00</li>
        </ul>
        <li>Cuidados</li>
        <ul>
            <li>Banho e tosa</li>
            <li>Valor: R$ 50,00</li>
        </ul>
        <li>Vacinas</li>
        <ul>
            <li>Todas as vacinas para seus pets</li>
            <li>Gratís</li>
        </ul>
    </ul>
</section>
