/* conteudo principal */
.meio{
    margin-top: 60px;
}


.title{
    text-align: center;
}
section p{
    border: 1px solid transparent;
    align-items: center;
    text-align: center;
    text-justify: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;

}
.secao{
    margin: 60px 0px 0px;
}